In [1]:
print("Hello World")

Hello World

In [3]:
print('hi, My Name is Murali')

hi, My Name is Murali

In [4]:
print('Hello'+'World')

HelloWorld

In [5]:
print('Hello '+'World')

Hello World

In [6]:
print('Hello',' World')

Hello  World

In [7]:
print(1234)

1234

In [8]:
print(600+200)

800

In [21]:
print('data science is interisting')#we can also add some comments

data science is interisting

In [10]:
print(23/2)

11.5

In [13]:
print(True)#boolien True

True

In [16]:
print(False)#boolien false

False

In [17]:
print(True or False)

True

In [19]:
print(True and False)

False

# Variables

In [22]:
name='Murali'

In [23]:
print(name)

Murali

In [24]:
print(type(name))

<class 'str'>

In [26]:
num=10
print(type(num))

<class 'int'>

In [27]:
name2='Murali'

In [31]:
print('id of name',(id(name)))

id of name 2384792175344

In [32]:
print('id of name2',(id(name2)))

id of name2 2384792175344

In [33]:
name2='Krishna'
print('id of name2',(id(name2)))

id of name2 2384792187952

In [35]:
print('My Name is '+name)

My Name is Murali

In [36]:
print('My Name is ',name)

My Name is  Murali

In [37]:
usn=234
print(type(usn))

<class 'int'>

In [38]:

roll_no=3/4
print(roll_no)

0.75

In [39]:
type(roll_no)

float

In [2]:
morning=True
night=False
print(morning or nigth)

True

In [3]:
type(night)

bool

In [4]:
Name=input('Ener your Name')

Ener your Namemurali

In [5]:
print(Name)

murali

In [6]:
Name

'murali'

In [7]:
age=input('enter your age')

enter your age12

In [10]:
fathers_age=age*2
print('MY fathers age is ',fathers_age)

MY fathers age is  1212

In [11]:
age=int(input('enter your age'))

enter your age12

In [12]:
fathers_age=age*2
print('MY fathers age is ',fathers_age)

MY fathers age is  24

# String

In [13]:
note='data science is not easy'

In [14]:
print(note)

data science is not easy

In [15]:
print(note[0])

d

In [18]:
print(note[4])

In [19]:
print(note[2:5])

ta

In [20]:
print(note[:10])

data scien

In [21]:
print(note[-1])

y

In [22]:
print(note[:-1])

data science is not eas

In [23]:
print(note.upper())

DATA SCIENCE IS NOT EASY

In [24]:
print(note.lower())

data science is not easy

In [25]:
print(note.find('not'))

16

In [26]:
print(note.find('easy'))

20

In [27]:
print(note.replace("not", "very"))

data science is very easy